body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5; /* Background color */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Earthy Green */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50; /* Earthy Green */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid  #FF5722; 
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color:  #FF5722; 
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF5722; /* Sunset Orange */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E64A19; /* Darker Sunset Orange */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50; /* Earthy Green */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
